---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section id="inicio" class="hero">
    <div class="hero-bg" style="background: linear-gradient(to right,#f9f9fb 20%,#ffffff57  ,#f9f9fb 80%)"></div>
    <img src="/assets/imagenJesus.JPG" alt="Antonio Jesús Blanco Guillen" class="hero-img" />
    <div class="hero-text">
      <h1>Antonio Jesús Blanco Guillén</h1>
      <p >Web Developer </p><p> HTML | CSS | Javascript | Node.js | Express | Angular | Astro | Git | Github </p>
    </div> 
  </section>

  <section id="about" class="about">
    <h2>Sobre mí</h2>
    <p>Soy <strong>Desarrollador Web</strong> junior con conocimientos en diversos lenguajes, me encuentro estudiando <strong>Desarrollo de Aplicaciones Web</strong> en el IES Punta del Verde, actualmente me encuentro en busqueda de empleo para empresas de practicas.</p>
    <p>Anteriormente estudié un grado superior de <strong>Sonido para Audiovisuales y Espectáculos</strong>, lo que me ha permitido saber trabajar bajo presion y con un tiempo limite establecido.</p>
    <p>Soy muy organizado y resolutivo, y se adaptarme muy bien a los tiempos, me gusta trabajar en equipo trabajando con <strong>herramientas de control de versiones.</strong></p>
  </section>
  <div>
    <section id="skills" class="skills" >
      <h2>Habilidades</h2>
      <div class="skills-grid">
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt="HTML"><span>HTML</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" alt="CSS"><span>CSS</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JS"><span>JS</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js"><span>Node.js</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="Express"><span>Express</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular"><span>Angular</span></div>
      <div><img class="icono-inline" src="https://avatars.githubusercontent.com/u/59550088?s=280&v=4" alt="Astro"><span>Astro</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg" alt="Git"><span>Git</span></div>
      <div><img class="icono-inline" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub"><span>GitHub</span></div>
    </div>

    </section>
  </div>
  <section id="projects" class="projects">
    <h2>Proyectos</h2>
    <div class="projects-grid">
      <article class="project-card">
        <h3 class="project-title">TheOfficeAPI</h3>
        <p class="project-description" style="margin-bottom: 0; margin-top: 0.7rem;">
          API dedicada sobre los personajes de la seria The Office (US/UK).
        </p>
        <h4 style="margin-bottom: 0.3rem; margin-top: 1.7rem;">Lenguajes utilizados</h4>
        <p style="margin-top: 0.3rem;" class="project-description">
          HTML | CSS | JavaScript | Angular | Node.js | Express
        </p>
        <div class="project-links">
          <a href="https://github.com/AntonioJesusBlanco/theOfficeAPI" target="_blank" rel="noopener noreferrer">GitHub</a>
          <a href="https://theofficeapi-production.up.railway.app/" target="_blank" rel="noopener noreferrer">Demo</a>
        </div>
      </article>
    </div>
  </section>

  <section id="contact" class="contact">
    <h2>Contacto</h2>
    <p>Email: <a href="mailto:antoniojesusblanco20@gmail.com">antoniojesusblanco20@gmail.com</a></p>
    <p>Github: <a href="https://github.com/AntonioJesusBlanco/theOfficeAPI">Github</a></p>
    <p>Linkedin: <a href="https://www.linkedin.com/in/antonio-jes%C3%BAs-blanco-guillen-27297a185/">Linkedin</a></p>

    
  </section>
  <button id="back-to-top" title="Volver arriba" aria-label="Volver arriba">↑</button>

</Layout>
