/* Reset y base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0; padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f1e9ff;
  color: black;
  scroll-behavior: smooth;
  
}.dark-mode-fondo {
  background-color: #0a0a23;  /* azul muy oscuro */
  color: #e1e1e1;             /* gris claro para texto */
}
.works-card.dark-mode-section article{
  border: #7e66ff solid 1px;
  box-shadow: 0 0 6px #7e66ff88;
}
section.dark-mode-section,section.dark-mode-section#inicio,
.project-card.dark-mode-section,.works-card.dark-mode-section {
  background-color: #1a1033f8;  /* morado oscuro translúcido */
  box-shadow: 1px 1px 10px rgba(127, 90, 255, 0.3);
  color: #f5f5f5;
}

section.dark-mode-section .hero-img {
  border: 2px solid #8442ff;
  box-shadow: 0 1px 5px #7b42ffbb;
}
section.dark-mode-section p strong{
  color: #e3b8ff; 
  text-decoration:  underline;
}
.dark-mode-back-to-top#back-to-top {
  background-color: #2c0050; /* morado claro */
  color: #ffffff;
  box-shadow: 0 4px 25px rgba(126, 102, 255, 0.3);
}
.dark-mode-back-to-top#back-to-top:hover {
  background-color: #52019e; /* morado más claro */
}
section.dark-mode-section#about p{
  color: #ece8ff;
}

.skills-grid div.dark-mode-skill,
section.dark-mode-section .certifications-card,
section.dark-mode-section .project-card {
  background-color: #1b133d; /* morado muy oscuro */
  border: #7e66ff solid 1px;
  box-shadow: 0 0 6px #7e66ff88;
  color: #ffffff;
}
.skills-grid div.dark-mode-skill:hover {
  background-color: #30226d; /* morado claro */
}
section.dark-mode-section .project-card p, section.dark-mode-section .certifications-card p, section.dark-mode-section p a, .works-card.dark-mode-section p  {
  color: #d9cdff !important;
}
.works-card.dark-mode-section h4{
  color: #e3b8ff !important;
}
section.dark-mode-section .certifications-card h4, section.dark-mode-section#contact p {
  color: #e3b8ff;
}
section.dark-mode-section#contact a{
    color: #e3b8ff;

}
.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.contact-links a {
  color: #5f01ca;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}
section.dark-mode-section .contact-links a{
    color: #e3b8ff;

}
section.dark-mode-section#contact a:hover {
  color: #9977ff;
}
.navbar.dark-mode-navbar a {
  color: #f1eeff;
}

img.dark-mode {
  filter: invert(1); /* Convierte a blanco */
    transition: all 0.4s ease;

}
.navbar.dark-mode-navbar.scrolled {
  background-color: #2a1f4d;
  box-shadow: 0 4px 15px rgba(126, 102, 255, 0.4);
}
section.dark-mode-section .project-card a{
  color: #b494ff;
  
}
.contact-links a:hover{
  color: #a748ffe0;
  text-decoration: underline;
}
section.dark-mode-section .contact-links a:hover{
  color: #a748ffe0;
  text-decoration: underline;
}
.footer {
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(170, 161, 255, 0.178);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
  border-top: 1px solid #ba95ff;
}
.footer.dark-mode-footer {
  background-color: rgba(26, 16, 51, 0.8);
  color: #e1e1e1;
  border-top: 1px solid #7e66ff;
}
.footer.dark-mode-footer img{
  filter: invert(1); /* Convierte a blanco */
}

#toggleMode {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  /* Elimina apariencia de botón */
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;

  cursor: pointer; /* Mantén el cursor para indicar que es clickeable */
}


.toggle-circle {
  position: relative;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.3s ease;
}


.dark img{
  filter: invert(1); /* Convierte a blanco */
}
.dark .toggle-circle {
  left: 16px;
}
#toggleMode img {
  width: 18px;
  height: 18px;
  transition: filter 0.3s;
}

#toggleMode .toggle-bar {
  width: 20px;
  height: 2px;
  background-color: #999;
  border-radius: 1px;
}

.footer a {
  color: #c2aaff;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.footer a:hover {
  color: white;
}

.footer-icons img {
  margin: 0 0.4rem;
  vertical-align: middle;
  transition: transform 0.3s;
}

.footer-icons img:hover {
  transform: scale(1.2);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0; left: 0; width: 100%;
  display: flex; justify-content: center; align-items: center;
  padding: 0.8rem 1rem;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.2s ease, box-shadow 0.2s ease;
  opacity: 1;
}

.navbar.scrolled {
  background-color: #e5e0ff;
  padding: 0.8rem 5rem;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
}
.logo {
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0; padding: 0;
}
.navbar a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #4e4eff;
  text-decoration: underline;
}

/* Main padding para navbar */
main {
  padding-top: 80px;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Hero */

.hero {
    position: relative;
    overflow: hidden;
    padding: 7rem 5rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    max-height: 600px;
    margin-bottom: 4rem;
}


.hero-img {
  position: relative;
  z-index: 1;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  
  transition: transform 0.5s ease;
   border: 2px solid #c4b7ff;
  box-shadow: 0 1px 5px #a298ffbb;
}
.hero-img:hover {
  transform: scale(1.15);
  transition: all 0.5s ease;
}
.hero-text {
  position: relative;
  z-index: 1;
}
.hero-text h1 {
font-size: 2.6rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Sections */
section {
  background-color: rgb(238, 231, 255);
  padding: 20px;
  margin-bottom: 4rem;
  opacity: 0;
  box-shadow: 1px 1px 10px #b5a5ffe0;
  transform: translateY(70px);
  transition: opacity 0.8s ease, transform 0.1s ease;
}
section.visible {
  opacity: 1;
  transition: opacity 1.5s ease;
}
h2 {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* About */
.about {
  
  padding: 1rem 2rem;
  border-radius: 14px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15rem;
  line-height: 1.6;
}
.about p strong {
  color: #5f01ca;
  text-decoration: underline;
}
.about p{
    color: #210049;

}

/* Skills */
.skills {
  padding: 3rem 2rem;
  border-radius: 14px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.skills-grid div {
  background-color: #c5b9ffe0;
  color: white;
  padding: 0.8rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.05rem;
  cursor: default;
  transition: transform 0.3s ease;
}

.skills-grid div:hover {
  background-color: #923eff;
  transform: scale(1.1);
}

.icono-inline {
  width: 33px;
  height: 28px;
  object-fit: contain;
  flex-shrink: 0;
}

/* Works */
/* Projects */
.works {
  padding: 3rem 2rem;
  border-radius: 14px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.works-grid {
  display: grid;
  gap: 1.5rem;
}
.works-card {
  padding: 1.8rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.works-title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.works-description {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.works-card h4{
  margin-top: 0;
    color: #7a46ac;

}
.works-card p{
  color: #1f003f;
}
.works-card,.works-card{
  border: #7700ff solid 1px;
  box-shadow: 0 0 4px #420099;
}
/* Projects */
.certifications {
  padding: 3rem 2rem;
  border-radius: 14px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 1rem;
}
.certifications-card {
  padding: 1.8rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.certifications-title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.certifications-description {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.certifications-card h4{
  margin-top: 0;
    color: #7a46ac;

}
.certifications-card p{
  color: #1f003f;
}
.projects-grid p{
  color: #3b0075;
}
.skills-grid div{
border: #7700ff solid 1px;
  box-shadow: 0 0 2px #420099;
}
.certifications-card,.project-card{
  border: #7700ff solid 1px;
  box-shadow: 0 0 4px #420099;
}
.projects {
  padding: 3rem 2rem;
  border-radius: 14px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.projects-grid {
  display: grid;
  gap: 1rem;
}
.project-card {
  padding: 1.8rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease;
}

.project-title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.project-description {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.project-links a {
  color: #5800cce0;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s ease;
}
.project-links a:hover {
  text-decoration: underline;
  color: #9538ff;
}

/* Contact */
.contact {
  padding: 0rem 2rem;
  border-radius: 14px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.contact h2 {
  display: block;
  margin-bottom: 0.8rem;
}
.contact p {
  margin-top: 0.2rem;
}
.contact a {
  color: #5e00ace0;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}
.icon-contact{

  margin-right: 0.5rem;
}
.project-image{
  width: 100%;
  min-height: 8rem;
  height: auto;
  border-radius: 8px;
  margin-top: 1.5rem;
  border: #8400ff solid 1px;
  box-shadow: 0 1px 5px rgba(140, 0, 255, 0.404);
}
.contact a:hover {
  color: #9645ff;
  text-decoration: underline;
}

/* Botón volver arriba */
#back-to-top {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #b7a8ffe0;
  color: white;
  border: none;
  padding: 0.70rem 0.95rem;
  border-radius: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  opacity: 0;
  display: none;
  z-index: 1500;
  box-shadow: 0 4px 25px #e5e0ffe0;
  opacity: 1;
  transition: background-color 0.3s ease;
  border: #9580ff solid 1px;

}
#back-to-top:hover {
  background-color: #937dff;
}
article:hover{
  transform: scale(1.05);
  transition: all 0.4s ease;
}
/* Responsive */
@media (max-width: 720px) {
  .hero {
    flex-direction: column;
    min-height: auto;
    padding: 3rem 3rem 3rem;
    margin-bottom: 4rem;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
   .hero-text p {
    font-size: 1.0rem;
  }
  .hero-img {
    width: 140px;
    height: 140px;
  }
  .navbar ul {
    gap: 1rem;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .about {
    flex-direction: column;
    min-height: auto;
    padding: 1rem 3rem 3rem;
  }
  .about h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
   .about p {
    margin-top: 0.5rem;
    font-size: 1.0rem;
    
  }
   .skills {
    flex-direction: column;
    min-height: auto;
    padding: 1rem 3rem 3rem;
  }
  .skills h2 {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
  }
   .skills-grid {
    margin-top: 0rem;
    font-size: 1.0rem;
    
  }
  .skills-grid div {
    padding: 1rem;
    font-size: 1.1rem;
  }
   .projects {
    flex-direction: column;
    min-height: auto;
    padding: 1rem 3rem 3rem;
  }
  .projects h2 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }
  .project-card p{
    font-size: 1rem;
    margin-top: 0.2rem;
  }
  .project-card h3{
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1.2rem;
  }

  
   .works {
    flex-direction: column;
    min-height: auto;
    padding: 1rem 3rem 3rem;
  }
  .works h2 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }
  .works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  gap: 1rem;
}
  .works-card{
    padding: 1rem 1.5rem 0rem 2rem;
  }
  .works-card p{
    font-size: 1rem;
    margin-top: 0rem;
  }
  .works-card h3{
    margin-bottom: 0rem;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .works-card h4{
    margin-bottom: 0rem;
    margin-top: 0;
    font-size: 0.9rem;
  }

   .certifications {
    flex-direction: column;
    min-height: auto;
    padding: 1rem 3rem 3rem;
  }
  .certifications h2 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
  }
  .certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  gap: 1rem;
}
  .certifications-card{
    padding: 1rem 1.5rem 0rem 2rem;
  }
  .certifications-card p{
    font-size: 1rem;
    margin-top: 0rem;
  }
  .certifications-card h3{
    margin-bottom: 0rem;
    margin-top: 0;
    font-size: 1.2rem;
  }
  .certifications-card h4{
    margin-bottom: 0rem;
    margin-top: 0;
    font-size: 0.9rem;
  }
  .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
    margin-top: 0;
  }
  .contact p{
    font-size: 1rem;
    margin-top: 0.2rem;
  }
  .navbar{
justify-content: center;

    padding: 0.5rem 1rem;  
  }
  .navbar div{
    display: none;
  }
  .navbar ul li a{
    font-size: 0.9rem;
  }
  .navbar.scrolled{
    justify-content: center;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 721px) {
  #about{
    padding-top: 0.5rem;
    max-width: 960px;
  }
  #skills{
    padding-top: 0.5rem;
    max-width: 960px;
  }
  #projects{
    padding-top: 0.5rem;
    max-width: 960px;
  }
  #contact{
    padding-top: 0.5rem;
    max-width: 960px;
  }
}